* {
    margin: 0;
    padding: 0;
    /*box-sizing: inherit;*/
}

body {
    background: linear-gradient(45deg, #0FD298, #34C0E2);
    font-family: Helvetica,Arial,sans-serif;
    background-attachment: fixed;
}

.navbar {
    top:0;
    left:0;
    display: block;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
}

.navbar a {
    color: white;
    /*display: block;*/
    padding: 14px 20px;
    float: right;
    text-decoration: none;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

button {
    background: aquamarine;
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
    border: 1px solid #34C0E2;
    padding: 8px;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

input {
    padding: 8px;
    border: 1px solid #34C0E2;
    border-radius: 8px;
    color: #ADB6BA;
    width: 300px;
}

form {
    border: #66696a;
    border-radius: 4px;
}

div {
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

label {
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
    margin-bottom: 2px;
    display: block;
    /*position: relative;*/
    width: 100%;
}

.footer {
    position: sticky;
    bottom: 0;
}

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*!* Style the body *!*/
/*body {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    margin: 0;*/
/*}*/

/*!* Header/logo Title *!*/
/*.header {*/
/*    padding: 80px;*/
/*    text-align: center;*/
/*    background: #1abc9c;*/
/*    color: white;*/
/*}*/

/*!* Increase the font size of the heading *!*/
/*.header h1 {*/
/*    font-size: 40px;*/
/*}*/

/*!* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position *!*/
/*.navbar {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*    position: sticky;*/
/*    position: -webkit-sticky;*/
/*    top: 0;*/
/*}*/

/*!* Style the navigation bar links *!*/
/*.navbar a {*/
/*    float: left;*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 20px;*/
/*    text-decoration: none;*/
/*}*/


/*!* Right-aligned link *!*/
/*.navbar a.right {*/
/*    float: right;*/
/*}*/

/*!* Change color on hover *!*/
/*.navbar a:hover {*/
/*    background-color: #ddd;*/
/*    color: black;*/
/*}*/

/*!* Active/current link *!*/
/*.navbar a.active {*/
/*    background-color: #666;*/
/*    color: white;*/
/*}*/

/*!* Column container *!*/
/*.row {*/
/*    display: -ms-flexbox; !* IE10 *!*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap; !* IE10 *!*/
/*    flex-wrap: wrap;*/
/*}*/
